body {
  text-align: center;
}
a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: bold;

  background-color: #009688;
  padding: 15px 30px;
  display: inline-block;
  color: white;
  text-decoration: none;
  text-transform: capitalize;

  border-bottom: 10px solid #013f39;
}